.header
  img(src='/img/mctoxic-logo.png',id='logo')
  h1 McToxic 
  h2 Truth behind poisonous McDonald's pseudo food
.content
  img(src='/img/fries.png',id='fries')
  a(class="pure-button",href="/food",id="explore") Explore<br /> the<br /> killer<br /> menu
